html {
    font-size: 1.38888vw;
}

body {
    --header-height: 10rem;
    --btn-height: 6rem;
    --page-top-offset: 6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: $font-main;
    font-weight: 400;
    font-size: 3rem;
    color: $c-dark;
    line-height: 1.2;
    letter-spacing: 0;

    @include xs-up {
        --btn-height: 4rem;
        font-size: 2rem;
    }

    @include sm-up {
        --header-height: 6.05rem;
        --btn-height: 2.6rem;
        font-size: 1rem;
    }
}

h1, h2, h3, h4, h5, h6, p, figure {
    margin: 0;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 400;
}

h1 {
    font-size: 8rem;

    @include xs-up {
        font-size: 4.2rem;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button,
input {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
}

a {
    text-decoration: none;
    color: inherit;
    transition: opacity .3s $easeOut;

    @include hover {
        opacity: .6;
    }
}

.container {
    padding-left: 5.60005rem;
    padding-right: 5.60005rem;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}